<section class="
	timeline-list-block
	{{ additional_css_classes }}
" {{ attributes }}>
	{% if the_title %}
		<h2 class="the-title">{{ the_title }}</h2>
	{% endif %}

	{% if the_list %}
		<ol class="the-list">
			{% for item in the_list %}
				<li> {{ item }} </li>
			{% endfor %}
		</ol>
	{% endif %}

	{% if the_cta %}
		<p>
			<a href="{{ the_cta_url }}" class="the-cta">
				{{ the_cta }}
				{{ the_cta_icon }}
			</a>
		</p>
	{% endif %}
</section>
