<hr>
<p>Social Media Links</p>
<p class="footer-social-media-items">
	{{ social_media_items }}
</p>
<p>Other Links</p>
<ul>
	<li><a href="{{ site_url|esc_url }}/contact/">Contact</a></li>
	<li><a href="{{ site_url|esc_url }}/money/">Money</a></li>
	<li><a href="{{ site_url|esc_url }}/resume/">Resume</a></li>
	<li><a href="{{ site_url|esc_url }}/colophon/">Colophon</a></li>
</ul>
<p>&copy; {{ year }}</p>
