<p>
	<label for="">Slides URL</label>
	<input type="url" name="" id="" value="{{ val|esc_attr }}" class="widefat">
</p>

<p>
	<label for="">Slides Source URL</label>
	<input type="url" name="" id="" value="{{ val|esc_attr }}" class="widefat">
</p>

<p>
	<label for="">Video URL</label>
	<input type="url" name="" id="" value="{{ val|esc_attr }}" class="widefat">
</p>

<p>
	<label for="">Video Embed</label>
	<textarea class="widefat"></textarea>
</p>

<p>
	<label for="">Event Name</label>
	<input type="text" name="" id="" value="{{ val|esc_attr }}" class="widefat">
</p>

<p>
	<label for="">Event URL</label>
	<input type="url" name="" id="" value="{{ val|esc_attr }}" class="widefat">
</p>

<input type="hidden" name="rh_talk_nonce" value="{{ nonce|esc_attr }}">
